<table class="table table-hover">
  <thead>
    <th>Name</th>
    <th>Pin-Code</th>
    <th>State</th>
    <th>Country</th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let data of list">
      <td (click)="onEdit(data)">{{data.fullName}}</td>
      <td (click)="onEdit(data)">{{data.empCode}}</td>
      <td (click)="onEdit(data)">{{data.country}}</td>
      <td (click)="onEdit(data)">{{data.state}} </td>
      <td> <a class="btn text-danger" (click)="onDelete(data.id)"><i class="fa fa-trash"></i></a></td>
    </tr>
  </tbody>
</table>